# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/

# VS Code
.vscode/

# Logs
*.log
logs/

# Data
data/

# Spark
checkpoints/
spark/checkpoints/
spark/output/
*.checkpoint/

# Airflow
airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/*.pid

# Environment
.env

# Model and notebook artifacts
*.pkl
*.joblib
.ipynb_checkpoints/
